    .row-header {
        margin: 0px auto;
        padding: 0px 0px;
    }
    
    .row-content {
        margin: 0px auto;
        padding: 120px 0px;
        border-bottom: 1px none;
    }
    
    .row-footer {
        margin: 0px auto;
        padding: 20px 0px;
        background-color: #AfAfAf;
    }
    
    .page-header {
        margin: 0px auto;
        padding: 0px 10px;
        background: #d9edf7;
        /*color: floralwhite;*/
    }
    
    .navbar-inverse {
        background: #d9edf7;
        color: #000000;
        border-color: #E7E7E7;
    }
    
    .navbar-inverse .navbar-nav > li > a {
        background: #d9edf7;
        color: midnightblue;
    }
    
    .navbar-inverse .navbar-nav > li > a:hover {
        background: #d9edf7;
        color: slategray;
        cursor: pointer;
    }
    
    .navbar-inverse .navbar-nav > li > a:focus {
        background: #d9edf7;
        color: #000000;
    }
    
    address {
        color: #0f0f0f;
        font-size: 80%;
        margin: 0px;
    }
    
    body {
        align: center;
        padding: 0px 0px 0px 0px;
        z-index: 0;
    }
    
    .tab-content {
        border-bottom: 1px solid #dddddd;
        border-left: 1px solid #dddddd;
        border-right: 1px solid #dddddd;
        padding: 10px;
    }
    
    .affix {
        top: 100px;
    }
    
    .form-inline .form-group input {
        width: 220px;
    }
    
    h2 {
        text-align: center;
    }
    
    #message {
        text-align: center;
        color: red;
        font-size: 150%;
    }
    
    .spinn {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100px;
        height: 100px;
        margin-top: -20 px;
        margin-left: -20px;
        border-radius: 10em;
        border: 14px solid transparent;
        border-top-color: #000000;
        border-right-color: #000000;
        animation: spin 1s linear infinite;
        visibility: hidden;
        /
    }
    
    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
    /* Для небольших устройств (смартфоны) */
    
    img {
        max-width: 100%;
        max-width: auto;
        display: inline-block;
    }
    /* Для средних устройств (планшеты) */
    
    @media (min-width: 420px) {
        img {
            max-width: 60%;
        }
    }
    /* Для больших устройств (ноуты, пк) */
    
    @media (min-width: 768px) {
        img {
            max-width: 70%;
        }
        body {
            overflow: hidden;
        }
        
    #left {
        float: left;
        width: 25%;
        overflow-y: scroll;
        height: calc(100vh - 140px);
    }
    
    #middle {
        float: left;
        width: 33%;
        height: calc(100vh - 140px);
        overflow-y: scroll;
    }
    
    #right {
        float: left;
        overflow-y: scroll;
        width: 42%;
        height: calc(100vh - 140px);
    }
}